
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment
.env
.venv
env/
venv/

# VS Code settings
.vscode/

# Data files
*.csv
*.zip

# TensorFlow checkpoints
checkpoints/
